body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image:url('./Project 3/background.jpg') ;
  
  color: #fff;
}

.offers{
  float-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title{
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.slide {
  text-align: center;
  width: 300px;

}

.slide img {
  width: 100%;
  border-radius: 50%;
}

.arrow {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.menu {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 40px 0;
}

.menu h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: gray;
  margin-bottom: 40px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.menu-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

.menu-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.menu-info {
  text-align: left;
  width: 100%;
}

.menu-info h4 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.menu-info p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.btn {
  margin-top: 30px;
  padding: 10px 25px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}




.gallery-section{
  padding:40px;
  text-align:center;
}

.gallery-section h2{
  margin-bottom:20px;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:20px;
}

.gallery img{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:15px;
  cursor:pointer;
  transition:0.3s;
}

.gallery img:hover{
  transform:scale(1.05);
}

/* Slider */
.slider{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  align-items:center;
  justify-content:center;
}

.slider img{
  width:70%;
  border-radius:15px;
}

.close{
  position:absolute;
  top:20px;
  right:30px;
  font-size:35px;
  color:#fff;
  cursor:pointer;
}

.prev,.next{
  position:absolute;
  top:50%;
  font-size:40px;
  color:white;
  cursor:pointer;
  user-select:none;
}

.prev{ left:30px; }
.next{ right:30px; }










* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}




#contact {
  padding: 50px 0;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  gap: 40px;
  background: #f2eee8;
  padding: 40px;
}

.left {
  width: 40%;
}

.left h3 {
  margin-top: 20px;
}

.left p {
  font-size: 14px;
  color: #555;
}

.left i {
  color: #caa45c;
  margin-right: 8px;
}

.social i {
  background: #333;
  color: #fff;
  padding: 8px;
  margin-right: 5px;
  border-radius: 50%;
}

.right {
  width: 60%;
}

.right input,
.right textarea {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: #e5e5e5;
}

.right textarea {
  height: 120px;
  resize: none;
}

small {
  color: red;
  font-size: 12px;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #2f3440;
  color: #fff;
  cursor: pointer;
}