* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

 .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.hero-content {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    padding: 10px 25px;
    border-radius: 30px;
}

.about {
    padding: 80px 0;
    background-color: #f9f9f9;
}

.container {
    width: 85%;
    margin: auto;
}

.about-title {
    text-align: center;
    margin-bottom: 50px;
}

.about-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-title p {
    color: gray;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-text p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.about-images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.about-images img {
    width: 100%;
    border-radius: 15px;
}

.offers {
    padding: 80px 0;
    background: url("background1.jpg");
    color: white;
    text-align: center;
}

.offers-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #e4b95b;
}

.offers-title p {
    color: #aaa;
    margin-bottom: 50px;
}

.offers-items {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.offer-card {
    width: 300px;
}

.offer-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.offer-card h3 {
    margin-bottom: 10px;
}

.offer-card p {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 8px;
}

.offer-card span {
    color: #e4b95b;
    font-weight: bold;
    margin-left: 5px;
}



.menu {
    padding: 80px 0;
    background: #f8f5f0;
}

.menu-title {
    text-align: center;
    margin-bottom: 50px;
}

.menu-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.menu-title p {
    color: gray;
}

.menu-items {
    display: flex;
    gap: 40px;
}

.menu-column {
    flex: 1;
}

.menu-item {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.menu-item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-item h4 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.menu-item h4 span {
    color: #e4b95b;
}

.menu-item p {
    font-size: 14px;
    color: #777;
}

.menu-btn {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    padding: 10px 30px;
    background: #e4b95b;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.daytime {
    background: url("small.jpg");
    padding: 60px 0;
}

.daytime-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.daytime-item {
    flex: 1;
    color: white;
}

.daytime-item img {
    width: 60px;
    margin-bottom: 15px;
}

.daytime-item h3 {
    margin-bottom: 8px;
}

.daytime-item p {
    font-size: 14px;
}


.gallery {
    background: url("background1.jpg");
    padding: 80px 0;
}

.gallery h2 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-size: 32px;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.img-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}


#contact {
    background: #f7f5f2;
    padding: 80px 0;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-info {
    width: 45%;
}

.contact-info h3 {
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 18px;
}

.contact-info p {
    color: #777;
    margin-bottom: 10px;
}

.contact-info i {
    color: #d4a54e;
    margin-right: 10px;
}

.social i {
    background: #222;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.contact-form {
    width: 50%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    background: #eae7e2;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    background: #d4a54e;
    color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
}